<!DOCTYPE html>
<html lang="en" ng-app="pushNotify">
<head>
    <title>My HTML File</title>
    <link rel="stylesheet" href="app_css/app.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <script src="angular/angular.js"></script>
    <script src="angular/app.js"></script>
<!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script> -->
    <!-- <script src="angular/angular.min.js"></script> -->

</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="left">
            <ul>
                <li><a href="#" style="color: black">Email</a></li>
                <li><a href="#" style="color: black">In-App push notification</a></li>
            </ul>

        </div>
        <div class="pull-left">
            <form id="recipient" ng-submit="sendForm()" ng-controller="submitInfo">
                recipient <span id="r_input"><input type="text"
                                                    placeholder="name list break by semicolon" name="recipient"
                                                    ng-model="formData.recipient"/></span>
                <br/>
                badge<input type="number" min="0" max="10" step="1" id="b_input"
                            name="badge" placeholder="3" ng-model="formData.badge"/>
                <br/>
                custom field
                <input type="text" placeholder="key" name="key" id="c_input1" ng-model="formData.key"/>
                <input type="text" placeholder="field" name="field" id="c_input2" ng-model="formData.field"/>
                <button id="plus_sign" type="button">
                    <img src="bootstrap/img/glyphicons/png/glyphicons_432_plus.png"></button>
                <br/>
                <button type="submit" id="send" >Send</button>
            </form>
        </div>
    </div>
</div>


</body>